/* Mobile */

.logo span i {
  font-size: 25px;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p,
a {
  font-size: 12px;
}

.showcase a {
  padding: 8px 10px;
}

.showcase a > i {
  display: none;
}

.navbar {
  flex-direction: column;
  height: 120px !important;
  padding: 10px !important;
}

.navbar a {
  padding: 10px 10px !important;
  margin: 0 3px !important;
}

.flex-items {
  flex-direction: column !important;
}

.flex-columns .column,
.flex-grid .column {
  flex: 100%;
  max-width: 100%;
}
/*  */

/* down showcase */
#what {
  height: 400px;
}

.flex-items .otherz h2 {
  font-size: 19px;
}
.flex-items .otherz p {
  font-size: 15px;
}

.flex-items .otherz h2,
p {
  text-align: center;
  justify-content: center;
}

.other p {
  font-size: 14px;
  text-align: center;
}

/* pic line up */
#pictures .row .column img {
  width: 100%;
}
#pictures .row {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 70px;
  height: 1200px;
}

#pictures .row,
h4,
p {
  text-align: center;
  justify-content: center;
}

/* boxes featues*/
#features p {
  font-size: 12px;
}
#features h3 {
  font-size: 15px;
}

#features {
  height: 100%;
}
#features .box {
  float: none;
  display: block;
  width: 100%;
  text-align: center;
  height: 100%;
}
#founded .box {
  float: none;
  display: block;
  width: 100%;
  text-align: center;
  height: 100%;
}

#check {
  margin-bottom: 30px;
}
/* center msg */
#center-msg .msg h2 {
  font-size: 15px;
}
/* video section */
#video {
  width: 100%;
  align-items: center;
  padding: auto;
  margin: auto;
  height: auto;
}

#video .our-vid h2 {
  text-align: center;
  font-size: 16px;
}

#video .our-vid iframe {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
/* gallery */
.gallery img {
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  flex: 1 auto;
}

.gallery {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  max-width: 100%;
  height: 100%;
}

/* blog */
.flex-columns {
  font-size: 20px;
  font-weight: 80px;
  text-align: center;
  margin: auto;
}

.column-2 a,
h4,
h2 {
  margin: auto;
}

.column-2 h4 {
  font-size: 12px;
}
.column-2 h2 {
  font-size: 20px;
}
.column-2 p {
  font-size: 15px;
}

.social a,
i {
  font-size: 14px;
}

.details {
  display: block;
}

/* about */
.abt-us {
  display: block;
  text-align: center;
}

.abt-us img {
  width: 100%;
  height: 100%;
}

.abt-us .fas p {
  width: 100%;
}

#center-msg {
  width: 80%;
  margin: auto;
}

.partners img {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

#founded .box {
  color: white;
  border: 0.1px solid #ff8356;
  height: 100%;
}

.abt-us .fas p {
  margin-top: 25px;
}

.flex-columns .row,
.meta {
  align-content: center;
  width: 100%;
  margin: auto;
}
